server {
    listen       80;
    server_name  {{utah_server_name}};
    charset utf-8;

    location / {
        proxy_pass http://{{shiny_container}}:3838/UtahDataApp/;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    }
}

# server {
#    listen       80;
#    server_name  {{wyoming_server_name}};
#    charset utf-8;
#
#    location / {
#        proxy_pass http://{{shiny_container}}:3838/WyomingDataApp/;
#        proxy_set_header Host $host;
#        proxy_set_header X-Real-IP $remote_addr;
#        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
#    }
# }

# server {
#    listen       80;
#    server_name  {{cad_server_name}};
#    charset utf-8;
#
#    location / {
#        proxy_pass http://{{shiny_container}}:3838/CADataApp/;
#        proxy_set_header Host $host;
#        proxy_set_header X-Real-IP $remote_addr;
#        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
#    }
# }
